{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Products</h1>
        <button class="btn btn-success"><a href="/admin/product/add">Add new product</a></button>
        <hr>
        {% for product in products %}
        <img src="/public/uploads/{{ product.image }}" style="width: 100%" alt="">
        <h4>Id</h4>
        {{ product.id }}
        <h4>Name<h4>
        {{ product.name }}
        <h4>Price</h4>
        {{ product.price }}
        <h4>Description</h4>
                {{ product.description }}
                <h4>Category</h4>
                {{ product.categoryId }}
                <br>
                <br>
                <button class="btn btn-info"><a href="/admin/product/edit/{{ product.id }}">Edit</a></button>
                <button class="btn btn-danger"><a href="/admin/product/delete/{{ product.id }}">Remove</a></button>
        <hr>
        {% endfor %}
    </div>

{% endblock %}