{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% block greeeting %}
            <h1>Welcome {{ user.name }}</h1>
            <h2>Your password {{ user.password }}</h2>
            <h2>Your email {{ user.email }}</h2>
            <h2>Your address {{ user.address }}</h2>
            <h2>Your index {{ user.PostIndex }}</h2>
            <h1>Your id {{ user.id }}</h1>
        {% endblock %}
        <h3>You can change your data</h3>
        <button class="btn btn-info">
            <a href="/user/edit/{{ user.id }}">Edit</a>
        </button>
    </div>

 {% endblock %}